.bodyIndex{
    background-color: rgb(14, 14, 14);
    font-family: 'Didact Gothic', sans-serif;
}

/* playStation */
.bodyProductos{
    background-color: rgb(14, 14, 14);
    font-family: 'Didact Gothic', sans-serif;
}