.headerIndex {
    background-color: white;
    box-shadow: 0px 0px 20px white;

    .headerIndexNav {

        /* Menu header */
        .menuHeader {
            .menuHeaderContenedorBtn {
                .menuHeaderBtn {
                    background-color: black;
                    border: 1px solid black;
                    border: none;
                    color: white;
                    transition: 0.3s;

                    &:hover {
                        background-color: white;
                        color: black;
                        box-shadow: 0px 0px 10px black;
                    }
                }
            }

            .menuHeaderForm {
                width: 50%;

                .menuHeaderFormInput {
                    background-color: rgb(19, 19, 19);
                    color: white;

                    &::placeholder {
                        color: white;
                    }

                    &::-webkit-search-cancel-button {
                        display: none;
                    }

                    &:focus {
                        box-shadow: 0px 0px 0px white;
                        border: 1px solid white;
                    }
                }

                .menuHeaderFormInputBtn {
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                    transition: 0.3s;

                    &:hover {
                        background-color: black;
                        color: white;
                        text-shadow: 0px 0px 2px white;
                    }
                }
            }
        }

        /* fondo del nav */
        .menuNavIndexFondoNegro {
            position: fixed;
            top: 0px;
            left: 0px;

            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.659);
            z-index: 10;
        }

        /* Menu Nav */
        .menuNavOpen {
            position: fixed;
            top: 0px;
            left: 0px;

            width: 20%;
            height: 100%;
            z-index: 15;

            background-color: black;
            transform: translateX(-100%);
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

            .menuNavOpenLink {
                width: 100%;

                .menuNavOpenLinkImg {
                    width: 100%;
                }
            }

            .menuNavOpenUl {
                .menuNavOpenUlLi {
                    .menuNavOpenUlLiLink {
                        color: white;
                        transition: 0.3s;

                        &:hover {
                            background-color: white;
                            border-radius: 15px;
                            box-shadow: 0px 0px 5px white;
                        }
                    }

                    .hoverLink {
                        &:hover {
                            color: aqua;
                            text-shadow: 0px 0px 5px aqua;
                        }
                    }

                    .playLink {
                        &:hover {
                            color: blue;
                            text-shadow: 0px 0px 5px blue;
                        }
                    }

                    .nintendoLink {
                        &:hover {
                            color: red;
                            text-shadow: 0px 0px 5px red;
                        }
                    }

                    .xboxLink {
                        &:hover {
                            color: rgb(26, 255, 0);
                            text-shadow: 0px 0px 5px rgb(26, 255, 0);
                        }
                    }
                }
            }

            .menuNavOpenPerfil {
                .menuNavOpenPerfilLink {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    flex-direction: row;
                    gap: 10px;

                    color: white;
                    transition: 0.3s;
                    border-radius: 15px;
                    padding: 5%;

                    &:hover {
                        color: black;
                        background-color: white;
                        box-shadow: 0px 0px 5px white;
                    }
                }
            }
        }

        .menuNavOpen.open {
            transform: translateX(0);
            visibility: visible;
        }


    }

}

/* registrar */
.bodyRegistrarHeader {
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: rgb(23, 23, 23);

    .bodyRegistrarHeaderNav {
        .bodyRegistrarHeaderBtnVolver {
            .bodyRegistrarHeaderBtnVolverLink {
                .bodyRegistrarHeaderBtnVolverLinkLogo {
                    color: black;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        color: white;
                    }
                }
            }
        }
    }
}

/* perfil */
.headerPerfil {
    width: 240px;
    background-color: rgb(5, 5, 5);
    border-radius: 100px;
    margin-top: 1%;
    margin-bottom: 5%;
    border: 1px solid white;
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 0px 5px white;
    }

    .headerPerfilNav {

        /* Menu header */
        .menuHeaderPerfil {
            .menuHeaderPerfilLi {
                transition: 0.3s;

                .menuHeaderPerfilLiLink {
                    transition: 0.3s;

                    .menuHeaderPerfilLiLinkLogo {
                        transition: 0.3s;
                        color: white;
                    }
                }

                &:hover {
                    .menuHeaderPerfilLiLink {
                        .menuHeaderPerfilLiLinkLogo {
                            transform: scale(1.1);
                            color: rgb(125, 125, 125);
                        }
                    }
                }
            }
        }

        /* fondo del nav */
        .menuNavPerfilFondoNegro {
            position: fixed;
            top: 0px;
            left: 0px;

            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.659);
            z-index: 10;
        }

        /* Menu Nav */
        .menuNavPerfilOpen {
            position: fixed;
            top: 0px;
            left: 20%;

            z-index: 15;

            transform: translateY(-100%);
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

            /* -- */
            width: 60%;
            padding: 2%;
            background-color: rgb(11, 11, 11);
            border: 1px solid white;

            .menuNavPerfilOpenBtn {
                border: 1px solid black;
                background-color: rgb(32, 32, 32);
                color: white;
                transition: 0.3s;

                &:hover {
                    text-shadow: 0px 0px 5px white;
                    border: 1px solid white;
                }
            }
        }

        .menuNavPerfilOpen.open {
            transform: translateY(0);
            visibility: visible;
        }
    }
}

/* finalizar compra */
.headerFinalizarCompra{
    background-color: rgb(22, 22, 22);
    padding: 1% 0px;

    .headerFinalizarCompraNav{

        /* Volver atrás */
        .headerFinalizarCompraNavBack{
            margin-top: 8px;

            .headerFinalizarCompraNavBackLink{
                color: black;
                transition: 0.3s;
    
                &:hover{
                    color: white;
                }
            }
        }

        /* Titulo */
        .headerFinalizarCompraNavTitle{
            .headerFinalizarCompraNavTitleText{
                color: white;
                text-shadow: 0px 0px 5px white;
            }
        }
    }
}