.mainIndex {

    /* Portadas */
    .mainIndexPortadas {
        @include allCentro;
        border: 5px solid white;

        margin: 5% 0px;
        overflow: hidden;
        background-color: white;


        /* Logo Cargando */
        .mainIndexPortadasContenedor {
            background-color: black;
            box-shadow: 0px 0px 5px black;
            margin: 2px;

        }

        /* Imagenes Cargadas */
        .mainIndexPortadasPart1 {
            @include allCentro;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;

            .mainIndexPortadasPart1Img {
                width: 90%;
            }
        }

        .mainIndexPortadasPart2 {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;

        }

    }

    /* Descripción */
    .mainIndexDescripcion {
        @include allCentro;
        flex-direction: column;
        margin: 5% 0px;

        .mainIndexDescripcionTitle,
        .mainIndexDescripcionText {
            color: white;
            text-shadow: 0px 0px 5px white;
            text-align: center;
        }

    }

    /* Catálogo */
    .mainIndexCatalogoContendor {
        margin: 5% 0px;

        .mainIndexCatalogoContendorLogo {
            @include allCentro;
            background-color: rgb(50, 50, 50);
            border-radius: 15px;

            .mainIndexCatalogoContendorLogoSvg {
                width: 50%;
                height: 50%;
                color: white;
            }
        }

        .logoPlay {
            background-color: rgb(0, 204, 255);
            box-shadow: 0px 0px 10px rgb(0, 204, 255);
        }

        .logoNintendo {
            background-color: red;
            box-shadow: 0px 0px 10px red;
        }

        .logoXbox {
            background-color: rgb(30, 255, 0);
            box-shadow: 0px 0px 10px rgb(30, 255, 0);
        }

        .mainIndexCatalogoContendorTexts {
            @include allCentro;
            flex-direction: column;
            background-color: white;
            border-radius: 15px;

            .mainIndexCatalogoContendorTextsTitle,
            .mainIndexCatalogoContendorTextsText {
                color: black;
                text-align: center;
            }

            .mainIndexCatalogoContendorTextsBtn {
                background-color: black;
                transition: 0.3s;

                .mainIndexCatalogoContendorTextsBtnLink {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    transform: scale(0.9);
                }
            }

            .btnPlay {
                background-color: rgb(0, 204, 255);
                border: 1px solid rgb(0, 204, 255);
            }

            .btnNintendo {
                background-color: red;
                border: 1px solid red;
            }

            .btnXbox {
                background-color: rgb(30, 255, 0);
                border: 1px solid rgb(30, 255, 0);
            }
        }
    }


}

/* Productos */
.mainProductos {

    /* mini-header */
    .mainProductosMiniHeader {
        background-color: black;

        /* titulo */
        .mainProductosMiniHeaderTitulo {
            @include allCentro;
            padding: 3% 0px;
            gap: 10px;

            .mainProductosMiniHeaderTituloLogo {
                color: white;

            }

            .mainProductosMiniHeaderTituloText {
                color: white;
                text-shadow: 0px 0px 5px white;
            }
        }

        /* filtros */
        .mainProductosMiniHeaderFiltros {
            background-color: white;
            padding: 3%;

            /* precio */
            .mainProductosMiniHeaderFiltrosPrecios {
                @include allCentro;
                flex-direction: column;

                .mainProductosMiniHeaderFiltrosPreciosText {
                    font-style: italic;
                    margin-top: 7px;
                }

                .mainProductosMiniHeaderFiltrosPreciosInputs {
                    @include allCentro;
                    gap: 20px;

                    .mainProductosMiniHeaderFiltrosPreciosInputsCasillero {
                        width: 50%;
                        background-color: black;
                        border: 1px solid black;
                        border-radius: 10px;
                        color: white;

                        &::placeholder {
                            color: rgba(255, 255, 255, 0.492);
                            margin-left: 5px;
                        }
                    }
                }

                .mainProductosMiniHeaderFiltrosPreciosBotones {
                    @include allCentro;
                    gap: 10px;

                    .mainProductosMiniHeaderFiltrosPreciosBtn {
                        background-color: black;
                        color: white;
                        border: 1px solid black;
                        transition: 0.3s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }

            }

            /* categoría */
            .mainProductosMiniHeaderFiltrosCategorias {
                @include allCentro;
                flex-direction: column;

                .mainProductosMiniHeaderFiltrosCategoriasText {
                    font-style: italic;
                }

                .mainProductosMiniHeaderFiltrosCategoriasSub {
                    .mainProductosMiniHeaderFiltrosCategoriasBtnOpen {
                        background-color: black;
                        border: 1px solid black;
                    }

                    .mainProductosMiniHeaderFiltrosCategoriasMenu {
                        border: 1px solid black;
                        background-color: black;

                        .mainProductosMiniHeaderFiltrosCategoriasMenuBtn {
                            text-align: center;
                            color: white;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    .portadaSony {
        background-color: rgb(0, 204, 255);
    }

    .portadaNintendo {
        background-color: red;
    }

    .portadaXbox {
        background-color: rgb(30, 255, 0);
    }

    /* productos */
    .mainProductosConsolasTitle {
        color: white;
        text-shadow: 0px 0px 5px white;
        margin: 3% 0px 0px 5%;
    }

    .mainProductosConsolas {
        @include allCentro;
        flex-direction: column;

        .textNoEncontrado {
            color: white;
        }

        /* logo loading */
        .mainProductosConsolasLoading {
            color: white;
        }

        /* productos cargados */
        .mainProductosConsolasProductosCargados {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            background-color: white;

            border: 1px solid black;
            border-radius: 10px;

            .mainProductosConsolasProductosCargadosImg {
                width: 100%;
                height: 50%;
            }

            .mainProductosConsolasProductosCargadosFav {
                cursor: pointer;
                margin: 5%;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .mainProductosConsolasProductosCargadosNombreConsola {
                text-align: start;
            }

            .mainProductosConsolasProductosCargadosAnioDeEstreno {
                font-style: italic;
            }

            .mainProductosConsolasProductosCargadosPrecio {
                background-color: black;
                border-radius: 15px;
                padding: 5px;
                color: white;
            }

            .btnAgregarAlCarrito {
                border: 1px solid black;
                border-radius: 10px;
                transition: 0.3s;

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

}

/* Registrar */
.bodyRegistrarMain {
    @include allCentro;
    flex-direction: column;

    /* logo */
    .bodyRegistrarMainLogoContenedor {
        background-color: white;
        border-radius: 15px;
        margin-top: 2%;

        .bodyRegistrarMainLogoContenedorImg {
            width: 50%;
        }

        .bodyRegistrarMainLogoContenedorImgText {}
    }

    /* cuerpo */
    .bodyRegistrarMainBodyContenedor {
        width: 80%;
        margin: 5% 0px;

        .bodyRegistrarMainBodyContenedorSub {
            @include allCentro;
            flex-direction: column;

            .bodyRegistrarMainBodyContenedorTitle {
                color: white;
                text-shadow: 0px 0px 5px white;

            }

            .bodyRegistrarMainBodyContenedorSub1 {
                .bodyRegistrarMainBodyCasillero {
                    .bodyRegistrarMainBodyCasilleroText {
                        color: white;
                    }

                    .bodyRegistrarMainBodyCasilleroInput {
                        background-color: rgb(12, 12, 12);
                        color: white;

                        &::placeholder {
                            color: rgb(212, 212, 212);
                            font-style: italic;
                        }

                        &:focus {
                            box-shadow: 0px 0px 5px white;
                            border: 1px solid white;
                        }
                    }

                    .bodyRegistrarMainBodyCasilleroUser {
                        .bodyRegistrarMainBodyCasilleroUserSpan {
                            background-color: black;
                            color: white;
                        }

                        .bodyRegistrarMainBodyCasilleroUserInput {
                            background-color: rgb(12, 12, 12);
                            color: white;

                            &::placeholder {
                                color: rgb(212, 212, 212);
                                font-style: italic;
                            }

                            &:focus {
                                box-shadow: 0px 0px 5px white;
                                border: 1px solid white;
                            }
                        }
                    }
                }
            }

            .bodyRegistrarMainBodyContenedorBtn {
                border: 1px solid white;
                color: white;

                margin: 2%;
                transition: 0.5s;

                &:hover {
                    background-color: white;
                    color: black;
                    box-shadow: 0px 0px 5px white;
                }
            }
        }
    }
}

/* Loguearse */
.bodyLoguearseMain {
    @include allCentro;
    flex-direction: column;

    margin-top: 5%;

    .bodyLoguearseMainTitle {
        color: white;
        text-shadow: 0px 0px 5px white;
        margin: 2%;
    }

    .bodyLoguearseMainContCorreo,
    .bodyLoguearseMainContContra {
        margin: 5px;
        width: 30%;

        .bodyLoguearseMainContCorreoInput,
        .bodyLoguearseMainContContraInput {
            border: 1px solid white;
            background-color: black;
            color: white;

            &:focus {
                box-shadow: 0px 0px 5px white;
            }
        }
    }

    .bodyLoguearseMainBtn {
        width: 30%;
        background-color: white;
        color: black;
        border: 1px solid white;
        transition: 0.3s;

        &:hover {
            box-shadow: 0px 0px 10px white;
        }

        &:active {
            background-color: black;
            border: 1px solid white;
        }
    }
}

/* perfil */
.mainPerfil {
    @include allCentro;
    flex-direction: column;

    /* Tarjeta usuario */
    .mainPerfilTarjetaUsuario {
        width: 100%;

        /* loading */
        .mainPerfilTarjetaUsuarioLogoLoading {
            color: white;
        }

        /* datos cargados */
        .mainPerfilTarjetaUsuarioPerfil {
            width: 90%;
            padding: 3% 6%;
            background-color: white;
            border-radius: 15px;

            .mainPerfilTarjetaUsuarioPerfilLogo {
                width: 130px;
                height: 130px;
                border-radius: 100px;
                overflow: hidden;
                background-color: rgb(114, 114, 114);

                @include allCentro;
                border: 3px solid black;

                .mainPerfilTarjetaUsuarioPerfilLogoImg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    /* Esta propiedad ajustará la imagen para cubrir el contenedor */
                }
            }

            .mainPerfilTarjetaUsuarioPerfilNames {
                font-size: 2.0rem;
                color: black;
                text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.523);
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            }

            .mainPerfilTarjetaUsuarioPerfilNamesUser {
                font-size: 1.5rem;
                color: rgb(71, 71, 71);
                font-style: italic;
            }

            .mainPerfilTarjetaUsuarioPerfilCorreo {}
        }
    }

    /* Tarjeta datos */
    .mainPerfilTarjetaDatos {
        width: 100%;
        @include allCentro;
        flex-direction: column;

        /* cambiar los datos */
        .mainPerfilTarjetaDatosContenedor {
            background-color: white;
            margin-top: 4%;
            width: 90%;
            border-radius: 15px;

            .mainPerfilTarjetaDatosContenedorSub {
                .mainPerfilTarjetaDatosContenedorLabel {}

                .mainPerfilTarjetaDatosContenedorInput {
                    color: black;
                    background-color: rgb(207, 207, 207);

                    &::placeholder {
                        color: black;
                    }

                    &:focus {
                        border: 1px solid black;
                        box-shadow: 0px 0px 5px black;
                    }
                }

                .mainPerfilTarjetaDatosContenedorBtn {
                    background-color: black;
                    color: white;
                    margin: 2%;
                }
            }
        }

        /* carrito vacío */
        .mainPerfilTarjetaDatosCarritoVacio {
            margin-top: 5%;
            color: white;
            padding: 2%;
        }

        .mainPerfilTarjetaDatosCarritoVacioText {
            margin-bottom: 5%;
            color: white;
            text-shadow: 0px 0px 5px white;
        }

        /* carrito con productos */
        .mainPerfilTarjetaDatosCarritoLleno {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            margin: 4% 0px;

            border: 1px solid black;
            border-radius: 10px;

            .btnAnularUnidadProducto {
                color: red;
                transition: 0.3s;

                &:hover {
                    color: gray;
                }
            }

            .mainPerfilTarjetaDatosCarritoLlenoImg {
                width: 100%;
                height: 50%;
            }

            .mainPerfilTarjetaDatosCarritoLlenoName {
                text-align: start;
            }

            .carritoLlenoOpciones {
                @include allCentro;
                flex-direction: row;

                .btnRestarUnidadProducto {
                    color: rgb(70, 70, 70);
                    transition: 0.3s;

                    &:hover {
                        color: red;
                    }
                }

                .carritoLlenoOpcionesProductoCantidad {
                    background-color: rgb(37, 37, 37);
                    border-radius: 15px;
                    color: white;
                    width: 50px;
                }

                .btnSumarUnidadProducto {
                    color: gray;
                    transition: 0.3s;

                    &:hover {
                        color: rgb(0, 255, 0);
                    }
                }
            }

            .mainPerfilTarjetaDatosCarritoLlenoPrecio {
                background-color: black;
                border-radius: 15px;
                padding: 5px;
                color: white;
            }

        }

        /* lista da favoritos vacía*/
        .mainPerfilTarjetaDatosFavVacia{
            margin-top: 5%;
            color: white;
            padding: 2%;
        }

        .mainPerfilTarjetaDatosFavVaciaText{
            margin-bottom: 5%;
            color: white;
            text-shadow: 0px 0px 5px white;
        }

        /* lista da favoritos llena*/
        .mainPerfilTarjetaDatosFavLlena{
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            background-color: white;
            margin: 4% 0px;

            border: 1px solid black;
            border-radius: 10px;

            .mainPerfilTarjetaDatosFavLlenaImg{
                width: 100%;
                height: 50%;
            }

            .mainPerfilTarjetaDatosFavLlenaNome{
                text-align: start;
            }

            .mainPerfilTarjetaDatosFavLlenaFecha{
                font-style: italic;
                color: gray;
            }

            .mainPerfilTarjetaDatosFavLlenaPrecio{
                background-color: black;
                border-radius: 15px;
                padding: 5px;
                color: white;
            }
        }
    }

}